{% extends 'base.html' %}

{% block content %}
    <button class="btn btn-dark btn-sm mt-5"
            _="on click toggle .dark-version on body
            then toggle .btn-light on me
            then toggle .btn-dark on me">
        Dark
    </button>
    <hr class="dark horizontal mt-5">
    <p>Assets : {{ assets.count }}</p>
    <hr class="dark horizontal mb-5">
    <div class="row">
        {% for asset in assets %}
            {% include 'index/asset_card.html' %}
        {% endfor %}
    </div>
    <hr class="dark horizontal mt-5">
    <p>Places : {{ places.count }}</p>
    <hr class="dark horizontal mb-5">
    <div class="card-group">
        {% for place in places %}
            {% include 'index/place_card.html' %}
        {% endfor %}
    </div>

{% endblock content %}
