{% extends 'base.html' %}

{% block content %}
    <hr class="dark horizontal my-3">
    <p>{{ wallets.count }} portefeuilles en circulation pour {{ cards.count }} cartes de paiements en circulation</p>
    <hr class="dark horizontal my-3">

    <p>{{ assets.count }} monnaie(s) en circulation</p>
    <div class="row">
        {% for asset in assets %}
            {% include 'asset/asset_card.html' %}
        {% endfor %}
    </div>

    <hr class="dark horizontal my-3">
    <p>{{ assets.count }} monnaie(s) en circulation dans {{ federations.count }} fédérations pour {{ places.count }}
        lieu(x).</p>
    <div class="card-group">
        <ul>
            {% for federation in federations %}
                <li>{{ federation.name | upper }}</li>
                <p>Assets : {{ federation.get_assets_names }}</p>
                <p>Lieux : {{ federation.get_places_names }}</p>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
