# ./manage.py generate_secret_key
SECRET_KEY=""

# ./manage.py generate_fernet
FERNET_KEY=""

# Stripe
STRIPE_TEST="True"
STRIPE_KEY=""
STRIPE_KEY_TEST=""
STRIPE_ENDPOINT_SECRET_TEST=""

# Domain
DOMAIN="fedow.localhost"
