# ./manage.py generate_secret_key
SECRET_KEY=""

# ./manage.py generate_fernet
FERNET_KEY=""

# Domain
DOMAIN=""

# Stripe api key
STRIPE_KEY=""

### FOR TEST AND DEBUG ###

DEBUG=0
TEST=0
STRIPE_KEY_TEST=""
STRIPE_TEST="True"
STRIPE_ENDPOINT_SECRET_TEST=""
