<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fedow</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.2.3-dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'material-dashbboard-bootsrap5-creativetim/material-dashboard.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_blanc.png' %}" >

</head>
<body class="container">

{% block content %}
{% endblock %}

{% include 'htmx/spinner.html' %}

<script src="{% static 'bootstrap/bootstrap-5.2.3-dist/js/bootstrap.js' %}"></script>
<script src="{% static 'material-dashbboard-bootsrap5-creativetim/material-dashboard.js' %}"></script>
<script src="{% static 'js/htmx.min.1.9.6.js' %}"></script>
<script src="{% static 'js/loading-states.js' %}"></script>
<script src="{% static 'js/hyperscript.0.9.11.min.js' %}"></script>

</body>

</html>