<div data-loading="flex"
     class="spinner-overlay transition-all ease-in-out duration-200"
     style="display: none"
     data-loading-delay="200">
    <div class="spinner"></div>
</div>
    <style>
        .htmx-settling img {
            opacity: 0;
        }

        img {
            transition: opacity 300ms ease-in;
        }

        /* Styles pour la div du spinner */

        .spinner-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Opacité du fond */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Assure que le spinner est au-dessus du reste du contenu */
        }

        /* Styles pour le spinner lui-même (vous pouvez utiliser une image, un GIF animé, etc.) */
        .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 10px solid #3498db;
            width: 100px;
            height: 100px;
            animation: spin 1s linear infinite; /* Animation de rotation */
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>